<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/d204a4c0-b50d-49b8-abf0-11524578db0a/resourcegroups/LabApplicationResourceGroup/providers/Microsoft.Web/sites/dovgodkoLab3</ResourceId>
    <ResourceGroup>LabApplicationResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dovgodkolab3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>14d842ee-3f3a-4b77-a1ac-60dba6912a7a</ProjectGuid>
    <PublishUrl>https://dovgodkolab3.scm.azurewebsites.net/</PublishUrl>
    <UserName>$dovgodkoLab3</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>